.headline__service{ 
    text-align: start}
    
.services__list_page {
    flex-direction: row;
    flex-wrap: wrap;

    .services__item {
        flex: 50%;
        margin: 0;
        align-items: flex-start;
        margin-bottom: 30px;
        padding: 15px;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .services__img {
        flex-basis: 260px;
        flex-shrink: 1;
        margin-bottom: 10px;

    }

    .services__caption {
        text-align: center;       
         font-size: 20px;
              
    }
}