.breadcrumbs{
    display: flex;
    align-items: flex-start;
}
.breadcrumbs__list {
    display: flex;
    justify-content: center;
}

.breadcrumbs__item {
    display: flex;
    justify-content: center;
}

.breadcrumbs__item:after {
    content: "/";

}

.breadcrumbs_link {
    color: $violet;
    font-style: italic;
}

.breadcrumbs__item_active {
   & a {
        text-decoration: none;
        color: #221f1f;
    }

    &:after {
        display: none;
    }
}
